


services:
  rabbitmq:
    image: rabbitmq:4.1.6-management-alpine
    restart: unless-stopped
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"

    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin

    healthcheck:
      test:
        - CMD
        - rabbitmq-diagnostics
        - '-q'
        - ping
      retries: 3
      timeout: 5s
      interval: 30s

    volumes:
      - rabbitmq-lib:/var/lib/rabbitmq/
      - rabbitmq-log:/var/log/rabbitmq


volumes:
  rabbitmq-lib:
    driver: local
  rabbitmq-log:
    driver: local